.template-admin { padding-top:3rem; padding-bottom:3rem; }

textarea.tinymce { min-height:30rem; }

#panel-index h2 { margin-bottom:0; }
#panel-index ul { margin-bottom:2rem; list-style-type:square; margin-left:1rem; }

#pages-list li { margin-bottom:2rem; }